html, body {
  margin: 0;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#output {
  position: absolute;
  top: 2em;
  right: 2em;
  text-align: center;
  -webkit-text-stroke: 0.5px white;
  font-weight: bold;
  font-size: 1.2em;
}
#output a {
  display: block;
  padding: 1em 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-text-stroke: inherit;
}

.ol-control {
  display: none;
}
